/* slide in from the right */
@keyframes slideInRight {
  from {
    transform:translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform:translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
  }
}

/* slide out to the left */
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-100%);
  }
}

/* slide in from the bottom */
@keyframes slideInBottom {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes slideInBottom {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0);
  }
}

@keyframes slideOutRotateTopLeft {
  to {
    transform: rotateZ(180deg);
  }
}

@keyframes slideOutRotateBottomLeft {
  to {
    transform: rotateZ(-180deg);
  }
}

@-webkit-keyframes slideOutRotateBottomLeft {
  to {
    -webkit-transform: rotateZ(-180deg);
  }
}




