/* slide in from the right */
@keyframes slideInRight {
  from {
    transform:translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform:translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
  }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-100%);
  }
}
