@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: white;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(68, 124, 173, 1);
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide.center {
  text-align: center;
}

.number-of-slide {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 30px;
  color: white;
  font-family: 'Dosis', sans-serif;
  z-index: 999;
}

#data-binding-list {
  margin-top: 10px;
}

label {
  color: white;
  font-family: 'Dosis', sans-serif;
}

p {
  color: white;
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

p.big {
  font-size: 2em;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.mean-title {
  font-family: 'Lobster', cursive;
  font-size: 4em;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.mean-subtitle {
  color: white;
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

.credits {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  width: 100%;
}

.gradient-blue {
  background: linear-gradient(to bottom, rgba(68, 124, 173, 1) 0%, rgba(125, 185, 232, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.date {
  margin-top: 30px;
  text-align: center;
  font-style: italic;
}

.slide-title {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
}

.slide-title.hidden {
  visibility: hidden;
}

.white-background {
  background: white;
}

.list {
  /*display: inline-block;*/
  color: white;
  font-family: 'Dosis', sans-serif;
}

.list.centered {
  position: relative;
  display: table;
  margin: 0 auto;
}

.list li.spaced {
  padding: 3px;
}

.list .element {
  width: 30px;
  margin-left: 20px;
  font-weight: bold;
}

.list.big-text {
  font-size: 1.2em;
}

.list.vertical-centered, div.vertical-centered {
  transform: translateY(50%);
}

h1.vertical-centered {
  margin-top: 15%;
}

h1.bigger {
  font-size: 4em;
}

canvas {
  background: white;
  border: 1px solid black;
}

.resizable-canvas-input {
  position: absolute;
  width: 100%;
  bottom: 40px;
}

#drop-zone {
  border: 2px dashed black;
  border-radius: 10px;
  width: 65%;
  height: 65%;
  background: white;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-size: 1.5em;
  margin: 0 auto;

  transition-property: width, height;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;

  -webkit-transition-property: width, height;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
}

#drop-zone p {
  position: relative;
  color: black;
  top: 30%;
}

.imgDropped {
  position: relative;
  top: 30%;
  width: auto;
  height: auto;
  max-width: 60%;
  max-height: 60%;
}

#localStorageTextArea {
  width: 60%;
  height: 60%;
  display: block;
  margin: 0 auto;
  font-size: 2em;
}

#localStorageTextArea + button {
  margin-top: 10px;
}

#animations-example {
  padding: 20px;
}

.square {
  margin: 0 auto;
  border: 2px solid black;
  background: red;
  width: 70px;
  height: 70px;

  animation-name: example1;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;

  -webkit-animation-name: example1;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in;
}

/* Styles for each slide */
#one {
  /*background: #303030;*/
  /*background: linear-gradient(to bottom, rgba(68, 124, 173, 1) 0%, rgba(125, 185, 232, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
  background: rgba(68, 124, 173, 1);
}

#two {
  background: #006666;
}

#three {
  background: #219161;
}

#four {
  background: cornflowerblue;
}

.img-responsive {
  max-width: 40%;
  max-height: 50%;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.img-responsive.without-text {
  max-width: 70%;
  max-height: 80%;
}

.img-responsive.padding {
  padding: 10px;
}

.img-responsive.future-img {
  max-width: 30%;
  max-height: 40%;
}

section {
  /*height: 100%;*/
  display: inline-block;
  width: 100%;
}

section form li input {
  display: block;
}

figure {
  width: 100%;
  margin: 0;
}

figure.spaced {
  margin-top: 15px;
}

figcaption {
  font-family: 'Dosis', sans-serif;
  color: white;
}

#ionic-logo {
  width: 400px;
}

/** Animations **/
.next-slide-animation.ng-enter {
  animation: slide-in-left 0.5s both ease-in;
  -webkit-animation: slide-in-left 0.5s both ease-in;
}

.next-slide-animation.ng-leave {
  animation: slide-out-left 1s both ease-out;
  -webkit-animation: slide-out-left 1s both ease-out;
}

.previous-slide-animation.ng-enter {
  animation: slide-in-right 0.5s both ease-in;
  -webkit-animation: slide-in-right 0.5s both ease-in;
}

.previous-slide-animation.ng-leave {
  animation: slide-out-right 1s both ease-out;
  -webkit-animation: slide-out-right 1s both ease-out;
}
