@import url(http://fonts.googleapis.com/css?family=Lobster);
@import url(http://fonts.googleapis.com/css?family=Dosis);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(68, 124, 173, 1);
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
}

.number-of-slide {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 30px;
  color: white;
  font-family: 'Dosis', sans-serif;
}

p {
  color: white;
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.mean-title {
  font-family: 'Lobster', cursive;
  font-size: 4em;
  text-align: center;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.mean-subtitle {
  color: white;
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

.credits {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  width: 100%;
}

.gradient-blue {
  background: linear-gradient(to bottom, rgba(68, 124, 173, 1) 0%, rgba(125, 185, 232, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.date {
  margin-top: 30px;
  text-align: center;
  font-style: italic;
}

.slide-title {
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.white-background {
  background: white;
}

/* Styles for each slide */
#one {
  /*background: #303030;*/
  /*background: linear-gradient(to bottom, rgba(68, 124, 173, 1) 0%, rgba(125, 185, 232, 1) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
  background: rgba(68, 124, 173, 1);
}

#two {
  background: #006666;
}

#three {
  background: #219161;
}

#four {
  background: cornflowerblue;
}

/** Animations **/

.next-slide-animation.ng-enter {
  animation: slide-in-left 0.5s both ease-in;
  -webkit-animation: slide-in-left 0.5s both ease-in;
}

.next-slide-animation.ng-leave {
  animation: slide-out-left 1s both ease-out;
  -webkit-animation: slide-out-left 1s both ease-out;
}

.previous-slide-animation.ng-enter {
  animation: slide-in-right 0.5s both ease-in;
  -webkit-animation: slide-in-right 0.5s both ease-in;
}

.previous-slide-animation.ng-leave {
  animation: slide-out-right 1s both ease-out;
  -webkit-animation: slide-out-right 1s both ease-out;
}
