<slide class="center">
  <h1 class="slide-title">Componentes HTML5</h1>
  <form action="#">
    <ul class="list">
        <li><p class="element">Number:</p><input type="number"/></li>
        <li><p class="element">Email:</p><input type="email"/></li>
        <li><p class="element">Url:</p><input type="url"/></li>
        <li><p class="element">Color:</p><input type="color"/></li>
        <li><p class="element">Atributos</p>
          <ul class="list">
            <li><p class="element">required:</p><input type="text" required/></li>
            <li><p class="element">placeholder:</p><input type="text" placeholder="Esto es un placeholder"/></li>
          </ul>
        </li>
      </ul>
    <p><input type="submit" no-submitting/></p>
  </form>
</slide>
