<slide>
  <h1 class="slide-title">Comunicación con el servidor mediante AJAX</h1>
  <section>
    <ul class="list centered vertical-centered big-text">
      <li>Ventajas
        <ul>
          <li class="spaced">Comunicación bidireccional con el servidor.</li>
          <li class="spaced">Comunicación asíncrona con el servidor.</li>
          <li class="spaced">Mediante <span class="bold italic">long-polling</span> puede simularse la recepción de datos de forma asíncrona desde el servidor.</li>
        </ul>
      </li>
      <li class="spaced">Desventajas
        <ul>
          <li class="spaced"><span class="bold italic">Overhead HTTP</span>.</li>
          <li class="spaced">Latencia.</li>
        </ul>
      </li>
    </ul>
  </section>
</slide>
