<slide>
  <h1 class="slide-title">Bower</h1>
  <img class="img-responsive padding" src="images/bower.png" alt="Bower Logo"/>
  <ul class="list centered big-text">
    <li class="spaced"><span class="bold">Bower</span> es un gestor de paquetes pensado para la Web.</li>
    <li class="spaced">Se encarga de administrar frameworks, librerías, utilidades... </li>
    <li class="spaced">Se encarga de encontrar, descargar y guardar el paquete que se solicite...</li>
    <li class="spaced">Mantiene un seguimiento de estos paquetes en un archivo manifiesto.</li>
    <li class="spaced">En MEAN Whiteboard, Bower se ha utilizado para incluir jQuery, AngularJS, socket.io…</li>
  </ul>
</slide>
