<slide>
  <h1 class="slide-title">Índice</h1>
  <ul class="list big-text index">
    <li>Introducción
      <ul>
        <li>Motivación</li>
        <li>Objetivos</li>
        <li>Progreso del proyecto en GitHub</li>
      </ul>
    </li>
    <li class="spaced">Tecnologías
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>AngularJS</li>
        <li>NodeJS</li>
        <li>Express</li>
        <li>MongoDB</li>
      </ul>
    </li>
    <li class="spaced">MEAN Whiteboard
      <ul>
        <li>Apicación Single-Page</li>
        <li>Compartir pizarra</li>
        <li>Herramientas</li>
      </ul>
    </li>
    <li class="spaced">Demo</li>
    <li class="spaced"><span class="bold big">Conclusiones y trabajo futuro</span></li>
  </ul>
</slide>
