<slide class="center">
  <h1 class="slide-title">Data Binding</h1>
  <img class="img-responsive" src="images/twoWayDataBinding.png" alt="Two way data binding diagram"/>
  <ol class="list">
    <li value="1">La plantilla, aun sin compilar, se compila en el navegador.</li>
    <li>Cualquier cambio en la vista se refleja inmediatamente en el modelo.</li>
    <li>Cualquier cambio en el modelo se propaga a la vista.</li>
    <li>El modelo se convierte en la única fuente de verdad.</li>
    <li>La vista se convierte en una proyección del modelo.</li>
  </ol>
</slide>
