<slide class="center">
  <h1 class="slide-title">Data Binding</h1>
  <p class="big">Me llamo {{dataBinding.name}} y esto es {{dataBinding.thisIs}}</p>
  <p class="big">Podéis encontrarme en <a ng-href="https://twitter.com/{{dataBinding.twitter}}">{{dataBinding.twitter}}</a></p>
  <div>
    <input type="text" placeholder="Nombre" ng-model="dataBinding.name"/>
    <input type="text" placeholder="¿Qué es esto?" ng-model="dataBinding.thisIs"/>
    <input type="text" placeholder="Twitter" ng-model="dataBinding.twitter"/>
  </div>
</slide>
