<slide>
  <h1 class="slide-title">Data Binding</h1>
  <img class="img-responsive" src="images/twoWayDataBinding.png" alt="Two way data binding diagram"/>
  <ol id="data-binding-list" class="list centered big-text">
    <li value="1" class="spaced">La plantilla, aun sin compilar, se compila en el navegador.</li>
    <li class="spaced">Cualquier cambio en la vista se refleja inmediatamente en el modelo.</li>
    <li class="spaced">Cualquier cambio en el modelo se propaga a la vista.</li>
    <li class="spaced">El modelo se convierte en la única fuente de verdad.</li>
    <li class="spaced">La vista se convierte en una proyección del modelo.</li>
  </ol>
</slide>
