<slide class="center">
  <h1 class="slide-title">Directiva - Tipo Elemento</h1>
  <section>
    <figure>
      <img class="img-responsive" src="images/directiveElement.png" alt="Ejemplo de directiva de tipo elemento" />
      <figcaption>imageFilters.js</figcaption>
    </figure>
    <figure class="spaced">
      <img class="img-responsive" src="images/templateElement.png" alt="Ejemplo de template de una directiva de tipo elemento" />
      <figcaption>imageFilters.html</figcaption>
    </figure>
  </section>
</slide>
