<slide>
  <h1 class="slide-title hidden">Express.js</h1>
  <img class="img-responsive" src="images/express.png" alt="Express Logo"/>
  <ul class="list centered vertical-centered big-text">
    <li class="spaced"><span class="bold">Express.js</span> es un framework relativamente pequeño que se sitúa por encima de la funcionalidad que ofrece Node.js para construir un servidor web.</li>
    <li class="spaced">Simplifica las APIs de Node.js y añade nuevas características que resultan muy útiles.</li>
    <li class="spaced">Facilita la organización de la funcionalidad de la aplicación con <span class="bold">middleware</span> y <span class="bold">routing</span>.</li>
    <li class="spaced">Facilita el renderizado de las vistas de HTML dinámico.</li>
    <li class="spaced">Código más mantenible y modular al poder definir varias funciones para gestionar las peticiones HTTP.</li>
    <li class="spaced">Flexible y minimalista. No hace hincapié en la estructura de la aplicación.</li>
    <li class="spaced">Suele utilizarse con módulos de terceros.</li>
  </ul>
</slide>
