<slide>
  <h1 class="slide-title">Express.js - Características</h1>
  <section class="list-wrapper">
    <div>
      <ul class="list centered vertical-centered big-text">
        <li class="spaced">Framework pequeño y ligero.</li>
        <li class="spaced">Capa por encima de Node.js para la creación de servidores HTTP.</li>
        <li class="spaced">Simplifica las APIs de Node.js.</li>
        <li class="spaced">Código más mantenible y modular.</li>
        <li class="spaced">Routing.</li>
      </ul>
    </div>
  </section>
</slide>
