<slide>
  <h1 class="slide-title">Jasmine</h1>
  <img class="img-responsive padding" src="images/jasmine.png" alt="Jasmine Logo"/>
  <ul class="list centered big-text">
    <li class="spaced"><span class="bold">Jasmine</span> es un framework para desarrollo guiado por comportamiento (Behaviour-Driven Development).</li>
    <li class="spaced">Permite escribir tests que denotan como debería comportarse el código</li>
    <li class="spaced">AngularJS proporciona <span class="bold">mockups</span> y funciones de testing para crear servicios, controladores y filtros directamente en los tests unitarios.</li>
    <li class="spaced">AngularJS también permite simular objetos como HttpRequests. </li>
  </ul>
</slide>
