<slide>
  <h1 class="slide-title">Karma</h1>
  <img class="img-responsive padding" src="images/karma.png" alt="Karma Logo"/>
  <ul class="list centered big-text">
    <li class="spaced"><span class="bold">Karma</span> permite ejecutar código JavaScript en multitud de navegadores reales.</li>
    <li class="spaced">Resulta muy útil cuando se desea testear código en distintos navegadores.</li>
    <li class="spaced">Permite ejecutar tests localmente durante el desarrollo y en un servidor de integración continua.</li>
    <li class="spaced">Karma <span class="bold">no es un framework para testing, ni una librería</span>.</li>
    <li class="spaced">Karma lanza un servidor HTTP y genera un archivo HTML para la ejecución del test.</li>
    <li class="spaced">Se usa en conjunto con un framework de testing.</li>
    <li class="spaced">Karma da soporte a gran cantidad de navegadores (Chrome, Firefox, Safari, PhantomJS, IE, Opera...)</li>
  </ul>
</slide>
