<slide>
  <h1 class="slide-title">MongoDB</h1>
  <section>
    <ul class="list centered vertical-centered big-text">
      <li><span class="bold">MongoDB</span> es un sistema de gestión de bases de datos basado en documentos.</li>
      <li>Open Source.</li>
      <li>Almacén de datos flexible, potente y escalable.</li>
      <li>Reemplaza el concepto de "fila" de las bases de datos relacionales por el de <span class="bold">"documento"</span>.</li>
      <li>Permite representar relaciones jerárquicas complejas con un solo registro.</li>
      <li>Reemplaza el concepto de "tabla" de las bases de datos relacionales por el de <span class="bold">"colección"</span>.</li>
      <li>Una colección puede almacenar uno o más documentos.</li>
      <li>Un documento puede tener uno o más campos.</li>
      <li>Documentos dentro de una misma colección pueden tener una única combinación de campos.</li>
      <li>Libre de esquema.</li>
      <li>Sin un esquema, se proporciona gran flexibilidad a la hora de trabajar con modelos de datos que evolucionan continuamente.</li>
    </ul>
  </section>
</slide>
