<slide>
  <h1 class="slide-title">MongoDB - Escalabilidad</h1>
  <section>
    <ul class="list centered vertical-centered big-text">
      <li>Los tamaños de los conjuntos de datos que manejan las aplicaciones están creciendo a pasos agigantados.</li>
      <li>¿Cómo escalar las bases de datos?
        <ul>
          <li><span class="bold italic">Scaling up</span> - Conseguir una máquina con mayor espacio
            <ul>
              <li>Máquinas muy caras.</li>
              <li>Con el tiempo alcanzan su límite físico.</li>
            </ul>
          </li>
          <li><span class="bold italic">Scaling out</span> - Particionar los datos y almacenarlos en distintas máquinas
            <ul>
              <li>Más económico.</li>
              <li>Más extensible.</li>
            </ul>
          </li>
        </ul>
      </li>
      <li>MongoDB fue diseñado para la opción de <span class="italic">scaling out</span>.</li>
      <li>El modelo de datos orientado a documentos permite separar automáticamente los datos a lo largo de múltiples servidores.</li>
      <li>Puede balancear los datos y cargarlos a lo largo del clúster, redistribuyendo los documentos automáticamente.</li>
      <li>Al necesitar más capacidad, se añaden nuevas máquinas al clúster y la base de datos decide como organizar todo.</li>
    </ul>
  </section>
</slide>
