<slide>
  <h1 class="slide-title">Node.js</h1>
  <section>
    <ul class="list centered vertical-centered big-text">
      <li>Plataforma construida sobre el motor de JavaScript de Chrome (V8) para construir fácilmente aplicaciones de red rápidas y escalables.</li>
      <li>Permite ejecutar JavaScript fuera del navegador (servidores web).</li>
      <li>Modelo dirigido a eventos y de entrada/salida (I/O) no bloqueante.</li>
      <li>Ideal para aplicaciones que trabajan de forma intensiva con datos en tiempo real y que corren en dispositivos distribuidos.</li>
      <li>APIs no bloqueantes optimizadas para trabajar de forma orientada a eventos (manipulación de datos binarios, escritura/lectura en disco...).</li>
      <li>Simplifica el acceso a los recursos.</li>
      <li>Elude el reto de la concurrencia sin sacrificar el rendimiento.</li>
      <li>V8 usa algunas de las nuevas técnicas en tecnología de compilación, lo que mejora el rendimiento.</li>
    </ul>
  </section>
</slide>
