<slide>
  <h1 class="slide-title">npm</h1>
  <img class="img-responsive" src="images/npm.png" alt="npm Logo"/>
  <ul class="list centered vertical-centered big-text">
    <li class="spaced"><span class="bold">npm</span> es un gestor de paquetes que facilita a los desarrolladores de JavaScript el compartir y reutilizar código.</li>
    <li class="spaced">npm permite instalar, actualizar y desinstalar gran cantidad de módulos para Node.js de forma sencilla.</li>
    <li class="spaced">package.json</li>
  </ul>
</slide>
