<slide>
  <h1 class="slide-title">Objetivos</h1>
  <section class="list-wrapper">
    <div>
      <ul class="list centered vertical-centered big-text">
        <li class="spaced">Estudio de tecnologías Web.</li>
        <li class="spaced">Desarrollar una pizarra digital:
          <ul>
            <li class="spaced">Opciones de dibujo (pincel, lápiz, colores, filtros...)</li>
            <li class="spaced">Capas.</li>
            <li class="spaced">Exportar como imagen.</li>
            <li class="spaced">Guardar los dibujos en el servidor.</li>
            <li class="spaced">Compartir la pizarra en tiempo real con otros usuarios.</li>
          </ul>
        </li>
      </ul>
    </div>
  </section>
</slide>
