<slide class="center">
  <h1 class="slide-title">Deformación del Canvas</h1>
  <div class="resizable">
    <canvas width="500" height="500" whiteboard ng-style="{width: (canvasResizable.width + 'px'), height: (canvasResizable.height + 'px')}"></canvas>
  </div>
  <div class="resizable-canvas-input">
    <label for="width">Ancho:</label><input id="width" type="number" ng-model="canvasResizable.width"/>
    <label for="height">Height:</label><input id="height" type="number" ng-model="canvasResizable.height"/>
  </div>
</slide>
