<slide>
  <h1 class="slide-title">Socket.IO</h1>
  <img class="white-background img-responsive" src="images/socketio.svg" alt="Socket.IO Logo"/>
  <ul class="list centered">
    <li class="spaced"><span class="bold">Socket.IO</span> es un framework para Node.js pensado para aplicaciones en tiempo real.</li>
    <li class="spaced">Funciona en todas las plataformas, navegadores y dispositivos, centrándose tanto en la seguridad como en la velocidad.</li>
    <li class="spaced">Cuenta con una módulo para el servidor que se instala mediante npm, y de una librería para el lado del cliente.</li>
    <li class="spaced">Es uno de los frameworks más utilizados a la hora de trabajar con Node.js y WebSockets.</li>
    <li class="spaced">Da soporte cuando hay algún problema con los WebSockets, ya sea que el navegador no los implemente o que las conexiones sean bloqueadas por un antivirus o un firewall.</li>
    <li class="spaced">Puede suplir la falta de WebSockets haciendo uso de AJAX.</li>
    <li class="spaced">Ofrece una API con métodos que permiten realizar transmisiones broadcast, así como el uso de namespaces y salas.</li>
  </ul>
</slide>
