<slide>
  <h1 class="slide-title">Socket.IO</h1>
  <section class="list-wrapper">
    <div>
      <ul class="list centered vertical-centered big-text">
        <li class="spaced">Framework para Node.js.</li>
        <li class="spaced">Aplicaciones en tiempo real.</li>
        <li class="spaced">Da soporte a diversas plataformas.</li>
        <li class="spaced">Soluciona problemas con WebSockets.</li>
        <li class="spaced">Broadcast, Namespaces y Rooms.</li>
      </ul>
    </div>
  </section>
</slide>
